@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Project 1 Site</h1>
    <p>Second Pipeline Test</p>
    @foreach (var mike in ViewBag.test)
    {
        <img src="@mike.PictureUrl"></img>
    }
</div>

